@model Hospital_Management_System.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<section class="section-form" id="contact">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
    </div>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col span-1-of-4">

            </div>
            <div class="col span-2-of-4">
                <div class="plan-box">
                    @Html.AntiForgeryToken()
                    <div>
                        <label for="name">Mật khẩu cũ<span style="color: red; font-weight: bold">*</span></label>
                        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Mật khẩu cũ", id = "name" })
                        @if (ViewBag.Messege != null)
                        {
                            <span style="color: red">@ViewBag.Messege</span>
                        }
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
                    </div>
                    <div>
                        <label for="name">Mật khẩu mới<span style="color: red; font-weight: bold">*</span></label>
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Mật khẩu mới", id = "name" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
                    </div>
                    <div>
                        <label for="name">Xác nhận mật khẩu<span style="color: red; font-weight: bold">*</span></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Xác nhận mật khẩu", id = "name" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                    </div>
                    <div style="text-align: center !important">
                        <input type="submit" value="Đổi mật khẩu" class="btn btn-ghost">
                    </div>
                </div>
                
            </div>
            </div>
    }
    </section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
